---
import nl from '../../i18n/nl.json';
import Container from '../shared/Container.astro';
const t = nl.home.trust;
---

<section class="py-20 border-y border-[var(--color-accent-line)] reveal">
  <Container>
    <p class="text-lead text-fg-dim text-center max-w-[60ch] mx-auto">
      {t.text}
    </p>
  </Container>
</section>
