---
import { getCurrentLocale } from '../../i18n/routes';
import { getContent } from '../../i18n/content';
import Container from '../shared/Container.astro';

const locale = getCurrentLocale(Astro.url.pathname);
const t = getContent(locale).home.trust;
---

<section class="py-20 border-y border-[var(--color-accent-line)] reveal">
  <Container>
    <p class="text-lead text-fg-dim text-center max-w-[60ch] mx-auto">
      {t.text}
    </p>
  </Container>
</section>
